name: Build, test

on: [pull_request]

jobs:
  build-test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: yarn install
      - run: yarn build
      - run: yarn test