name: Renovate
on: 
  schedule:
    - cron: "0 * * * *"
  push:
    branches: [main]
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.4
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
          configurationFile: 'renovate.json'
        env:
          LOG_LEVEL: 'debug'